openai
fastapi[all]
fastapi-limiter
sse-starlette
black
isort
pydantic
pydantic[dotenv]
langchain
uvicorn
jinja2
faiss-cpu
bs4
unstructured
libmagic
google-api-python-client
google-search-results
asyncio
aiohttp
redis
aioredis
Authlib
